---
import Layout from '../layouts/Layout.astro'

<Layout title="La Velada IV">
	<main>
		<h1>La Velada IV</h1>
		<p>La Velada es un evento de boxeo que se llevará a ca en la ciudad de Córdoba, Argentina.</p>
	</main>
</Layout>
