<footer class="w-full border-primary border-t-2 flex flex-col md:flex-row items-center md:justify-between pt-6 pb-20 gap-y-10">
    <span class="text-primary text-center">
        © 2024 La Velada del año <span aria-hidden class="hidden md:inline">|</span><br aria-hidden class="block md:hidden" /> Todos los derechos reservados.
    </span>

    <ul class="flex gap-x-6 items-center">
        <li>
            <a href="#" target="_blank" rel="noopener" class="hover:scale-125 hover:opacity-70 transition inline-block">
                <img src="./instagram.svg" alt="Logo de Instagram" />
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener">
                <img src="./twitter.svg" alt="Logo de Twitter" />
            </a>
        </li>
    </ul>
</footer>