---
const SPONSORS = [
	{
		id: "alsa",
		name: "Alsa",
		url: "https://alsa.es",
	},
	{
		id: "cerave",
		name: "CeraVe",
		url: "https://cerave.es",
	},
	{
		id: "el-pozo",
		name: "El Pozo",
		url: "https://elpozo.com",
	},
	{
		id: "grefusa",
		name: "Grefusa",
		url: "https://grefusa.com"
	},
	{
		id: "maxibon",
		name: "Maxibon",
		url: "https://maxibon.es"
	},
	{
		id: "prime",
		name: "Prime",
		url: "https://drinkprime.com"
	},
	{
		id: "revolut",
		name: "Revolut",
		url: "https://revolut.com"
	},
	{
		id: "spotify",
		name: "Spotify",
		url: "https://spotify.com"
	},
	{
		id: "vicio",
		name: "Vicio",
		url: "https://vicio.com"
	}
]
---

<section class="my-40">
	<h3 class="text-white text-3xl text-center uppercase font-semibold">Los patrocinadores</h3>
	<p class="mt-4 text-xl text-neutral-300 text-center">La Velada puede llevarse a cabo gracias a la colaboración de...</p>

	<div class="grid grid-cols-2 md:grid-cols-3 gap-8 mt-12">
		{
			SPONSORS.map(({ id, name, url }) => (
				<a
					class="group flex items-center justify-center h-24 md:h-32 bg-gradient-to-b from-white/10 via-transparent to-transparent hover:from-white/20"
					title={`Visita la página del patrocinador ${name}`}
					href={url}
					target="_blank"
					rel="noopener noreferrer"
					>
						<img loading="lazy" src={`/img/${id}.svg`} alt={`Logo del patrocinador ${name}`} class="w-30 h-auto group-hover:scale-110 transition"/>
				</a>
			))
		}
	</div>
</section>